@page "/error/{errorMessage}"

@inject NavigationManager navigationManager;

<div class="container" style="margin-top: 40px;">
    <div class="h5">An error occured</div>
    <div>Error: @errorMessage</div>

    <button type="button" class="btn btn-primary" @onclick="RedirectHome">Back to Home!</button>
</div>

@code {
    [Parameter]
    public string errorMessage { get; set; }

    protected void RedirectHome()
    {
        navigationManager.NavigateTo("/");
    }

}
