@page "/"

@inject HttpClient HttpClient
@inject NavigationManager navigationManager;

@using BlazorApp.Models;
@using HttpServices;
@using UtilityFunctions;

<div class="container" style="margin-top: 40px; text-align: center;">
    <div class="h5" style="margin-bottom: 40px;">My Poke App!</div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Pokemon name</th>
                <th scope="col">Pokedex Entry</th>
                <th scope="col">More Info</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pokemon in pokemons)
            {
                <tr>
                    <th scope="row">@counter</th>
                    <td class="h6" style="cursor: pointer;">@Util.FormatString(pokemon.Name)</td>
                    <td><img src="@GetPokemonImage(pokemon.Url)" style="height: 40px; width: 40px;"></td>
                    <td>
                        <button type="button" class="btn btn-primary" @onclick="(()=> RedirectDetails(pokemon.Url))">
                            To Details!
                        </button>
                    </td>
                </tr>
                counter++;
            }
        </tbody>
    </table>
</div>

@code {
    private HttpService http = new();

    private List<PokemonList> pokemons = new List<PokemonList>();
    private int counter = 1;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            PokemonFetchList response = await http.GetPokemonList();
            pokemons = response.Results.ToList<PokemonList>();
        }
        catch (Exception ex)
        {
            navigationManager.NavigateTo($"/error/{ex.Message}");
        }
    }
    public static string GetPokemonImage(string pokemonUrl)
    {
        return Util.GetPokemonImage(pokemonUrl);
    }

    protected void RedirectDetails(string url)
    {
        string pokemonID = Util.GetPokemonID(url);

        navigationManager.NavigateTo($"/details/{pokemonID}");
    }

}
